<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
     <include path="~/Content/css/_angular.css" />
    <include path="~/Content/css/_core.css" />
    <include path="~/Content/css/_element.css" />
    <include path="~/Content/css/_helpers.css" />
    <include path="~/Content/css/_media.css" />
    <include path="~/Content/css/_spinner.css" />
  
  </styleBundle>
</bundles>