.pad-t-2{
    padding-top: 2rem;
}

.pad-a-1{padding: 1rem}
.pad-a-2{padding: 2rem}
.pad-l-2{ padding-left: 2rem; }
.pad-l-3{ padding-left: 3rem; }


.pad-r-n{ padding-right: 0; }

.pad-b-2{
    padding-bottom: 2rem;
}

.pad-b-1{
    padding-bottom: 2rem;
}

.pad-no,.no-pad{ padding: 0; }
.pad-no-t-b,.no-pad-t-b{ padding-top: 0; padding-bottom: 0; }
.pad-no-t,.no-pad-t{ padding-top: 0;}
.pad-no-b,.no-pad-b{ padding-bottom: 0;}
.pad-no-l-r,.no-pad-l-r{ padding-left: 0; padding-right: 0; }


.mar-t-0{ margin-top: 0; }
.mar-t-1{ margin-top: 1rem; }
.mar-t-2{ margin-top: 2rem; }
.mar-t-5{ margin-top: 5rem; }

.mar-r-1 { margin-right: 1rem; }
.mar-r-2 { margin-right: 2rem; }


.mar-b-2{ margin-bottom: 2rem; }
.mar-b-1{ margin-bottom: 1rem; }


.mar-l-1{ margin-left: 1rem; }
.mar-l-2{ margin-left: 2rem; }
.mar-l-3{ margin-left: 3rem; }
.mar-l-6{ margin-left: 6rem; }
.mar-l-14{ margin-left: 14rem; }


.mar-t-b-1{ margin: 1rem 0rem; }
.mar-t-b-2{ margin: 2rem 0 2rem 0; }

.mar-l-r-1{
    margin:0rem 0rem 1rem 1rem;
}

.mar-a-2-1_5{ margin: 2rem 1.5rem; }
.mar-a-5{ margin: 5rem; }
.mar-a-4{ margin: 4rem; }
.mar-a-2{ margin: 2rem; }
.mar-a-1{ margin: 1rem; }


.mar-n,.no-margin{
    margin: 0;
}

.position-fixed{
    position: fixed;
}



.w-100{
    width:100%;
}


/*background color*/

.background-blue{
   background-color: #3498db;
}

.background-red{
    background-color: #e74c3c;
}

.background-green{
    background-color: #2ecc71;
}

.background-yellow{
    background-color: #f1c40f;
}





.cursor-pointer{
     cursor: pointer;
}

.col-centered{
     float: none;
     margin: 0 auto;
}
.text-center{
     text-align: center;
}

.align-r{
    text-align:right;
}

.align-l{
    text-align:left;
}

.font-2-em{
    font-size:2em;
}

.font-3-em{
    font-size:3em;
}

.font-1-em{
    font-size: 1em;
}

.word-wrap {
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}


